@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$bebas-neue: "Bebas Neue", cursive;
