@import "./../../../assets/styles/variables/colors.scss";
@import "./../../../assets/styles/variables/fonts.scss";

.slider {
  &__section {
    padding: 50px 0;
    background: rgba(252, 204, 137, 0.75);
  }

  &__container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  &__flex {
    display: flex;
    justify-content: center;
  }

  &__slide {
    display: flex;

    width: 100%;
    max-width: 900px;
    height: 420px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(74, 28, 0, 0.3);

    overflow: hidden;

    &_image,
    &_info {
      width: 50%;
      flex-basis: 50%;
    }

    &_image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-color;
    }

    &_info {
      padding: 25px 40px;
      background: #fff;

      p {
        font-family: $montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
      }
    }

    &_title {
      margin: 20px 0;
      font-family: $montserrat;
      font-style: italic;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      text-align: center;

      letter-spacing: 0.05em;

      color: #000000;
    }
  }
}
