@import "./../../../assets/styles/variables/colors.scss";
@import "./../../../assets/styles/variables/fonts.scss";
@import "./../../../assets/styles/variables/sizes.scss";

.title {
  margin: 0 0 4rem 0;
  font-family: $bebas-neue;

  font-weight: 400;
  font-size: 4rem;
  line-height: 48px;
  text-align: center;

  letter-spacing: 0.05em;

  color: #fff;

  &:after {
    content: "";
    display: block;
    width: 33%;
    height: 2px;
    margin: 5px auto 0 auto;
    background: #fff;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
  }
}

.title_brown {
  @extend .title;

  color: $brown-color;

  &:after {
    background: $brown-color;
  }
}
